/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-bottom: 60px;
}

header .logo {
  max-width: 300px;
}
/* Header end */

/* Inputs */
.inputBox {
  position: relative!important;
  width: 100%!important;
  margin-bottom: 50px;
}

.inputBox .invalid-feedback {
  position: absolute;
  text-align: right;
}

.inputBox input,
.inputBox textarea {
  width: 100%;
  background: transparent;
  color: white;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 1em;
  letter-spacing: 0.1em;
}

.inputBox span {
  position: absolute;
  left: 0;
  color: rgba(255, 255, 255);
  text-transform: uppercase;
  pointer-events: none;
  letter-spacing: 0.1em;
  transition: 0.5s;
}

.inputBox textarea span {
  bottom: 2px;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span,
.inputBox textarea:valid ~ span,
.inputBox textarea:focus ~ span {
  /*color: #2196f3;*/
  color: #76b82a;
  transform: translateY(-16px);
  font-size: 0.65em;
}

.inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: white;
  overflow: hidden;
}

.inputBox i::before {
  content: '';
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #76b82a, #c7d64f, #76b82a, #c7d64f, #76b82a);
  animation:  animate 2s linear infinite;
}

.inputBox input:valid ~ i::before,
.inputBox input:focus ~ i::before,
.inputBox textarea:valid ~ i::before,
.inputBox textarea:focus ~ i::before {
  left: 0;
}

@keyframes animate {
  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: 576px;
  }
}
/* Inputs end */

/* Boton de formulario */
form .content_button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 60px;
}

form .btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background: #94c11f;
  color: white;
  text-transform: uppercase;
}

form .btn-primary:hover {
  color: #94c11f!important;
  border-color: #94c11f!important;
  background: white!important;
}

form .spinner-border {
  display: none;
  margin-left: 7px;
}
/* Boton de formulario end */

/* Footer */
footer {
  background: #303030;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .logo_footer {
  margin-bottom: 15px;
}

footer .logo_footer img {
  max-width: 50%;
}

footer .rrss {
  margin-bottom: 30px;
}

footer .rrss a {
  display: inline-block;
  margin-right: 30px;
}

footer .rrss a:hover {
  opacity: 0.7;
}

footer .rrss a:last-child {
  margin-right: 0;
}

footer .legales a {
  color: #c8c8c8;
}

footer .legales a:hover {
  color: white;
}
/* Footer end */

.agency_bold {
  font-family: 'AgencyFB'; 
  font-weight: bold; 
  font-style: normal;
}

.agency_black {
    font-family: 'AgencyFB';
    font-weight: 900;
    font-style: normal;
}

/* Variables */
:root {
  --primary-color: rgba(0, 0, 0, 1);
  --secondary-color: rgba(225, 37, 27, 1);
  --light-color: rgba(244, 244, 244, 1);
}
/* Variables end */

html, body { /* Para corregir el desbordamiento que causo la libreria AOS.js */
  overflow-x: hidden;
  color: white;
  height: 100%;
}

#bg {
  position: fixed; 
  z-index: -1;
  top: 0; 
  left: 0; 

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

body {
  font-family: 'AgencyFB'; 
  font-weight: bold; 
  font-style: normal;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

.transition{
  -webkit-transition: all ease-in-out .3s; /* Safari */
  transition: all ease-in-out .3s;
}
/* Comunes end */

/* Buttones */
button,
.btn-primary {
  color: var(--primary-color);
  background-color: white;
  font-weight: 300;
  border-color: var(--primary-color);
  padding: 5px 30px;
}

.btn-check:focus + .btn-primary, .btn-primary:focus,
.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, 
.btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle,
.btn-check:active + .btn-primary:focus, .btn-check:checked + .btn-primary:focus, 
.btn-primary.active:focus, .btn-primary:active:focus, .show > 
.btn-primary.dropdown-toggle:focus {
  color: var(--primary-color);
  background-color: white;
  border-color: var(--primary-color);
  box-shadow: none;
}

.btn:focus {
  box-shadow: none;
}

.btn-primary:hover {
  background: var(--primary-color);
  color: white;
}
/* Buttones end */

/* MEDIA QUERIES */
@media (min-width: 576px) {

  /* Footer */
  footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  footer .logo_footer img {
    max-width: 35%;
  }
  /* Footer end */

}

@media (min-width: 768px) {

  /* Header */
  header .logo {
    max-width: 400px;
  }
  /* Header end */

  /* Footer */
  footer .rrss,
  footer .logo_footer {
    margin-bottom: 0;
  }

  footer .logo_footer img {
    max-width: 80%;
  }
  /* Footer end */

}

@media (min-width: 992px) {

  /* Header */
  header .logo {
    max-width: 100%;
  }
  /* Header end */

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

@media (min-width: 1600px) {

}





