@font-face {
    font-family: 'AgencyFB', sans-serif;
    src: url('./../fonts/AgencyFB-Bold.woff2') format('woff2'),
        url('./../fonts/AgencyFB-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AgencyFB', sans-serif;
    src: url('./../fonts/AgencyFBBlack.woff2') format('woff2'),
        url('./../fonts/AgencyFBBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}