.content_product {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.product .img_product {
	content:url('../img/tabla/tabla-mobile.png');
}

.product .content_img {
	order: 1;
	padding: 0;
}

.product .content_img .data {
	display: none;
}

main .content_img_mobile {
	display: none;
}

.product .frase {
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center;
}

.product h1 {
	font-size: 2rem;
	margin-bottom: -10px;
}

.product h1 .first {
	display: none;
}

.product h1 .premio {
	color: #94c11f;
	font-weight: 700;
	font-size: 3rem;
}

.product .subrayado {
	content:url('../img/commons/subrayado-mobile.png');
}

.product h2 {
	font-size: 1.25rem;
	margin-top: 15px;
}

.product .flecha_abajo {
	display: none;
}

/* Cooler */
.coolers .img_product {
	content:url('../img/cooler/cooler-mobile.png');
}

.coolers .content_img {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 60px;
}

.coolers .content_img .img_product {
	margin-bottom: 30px;
}

.coolers .content_img .data {
	display: flex;
	flex-direction: column;
}

.coolers .content_img .data .flecha_ganadora {
	display: none;
}
/* Cooler end */

/* Toalla */
.toalla .content_img .img_product {
	content:url('../img/toalla/toalla-mobile.png');
}
/* Toalla end */


/* MEDIA QUERIES */
@media (min-width: 576px) {

	.product h1 .first {
		display: inline-block;
	}

	.product h1 span {
		font-size: 3rem;
	}

	.product .content_img {
		display: none;
	}

	.product .frase {
		margin-top: 60px;
	}

	main .content_img_mobile {
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
	}

	.product .content_img {
		display: flex;
	}

}

@media (min-width: 768px) {

	.product {
		margin-bottom: 60px;
	}

	.product .content_img {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		order: 0;
		padding-left: calc(var(--bs-gutter-x) * .5);
		padding-right: calc(var(--bs-gutter-x) * .5);
	}

	.product h1 {
		font-size: 2.25rem;
	}

	.product h1 span {
		font-size: 3.5rem!important;
	}

	.product .subrayado {
		content:url('../img/commons/subrayado.png');
	}

	.product .content_img .img_product {
		content:url('../img/tabla/tabla-large.png');
		max-width: 180px;
	}

	main .content_img_mobile {
		display: none;
	}

	/* Cooler */
	.coolers .content_img .img_product {
		content: url('../img/cooler/cooler.png');
		max-width: 100%;
		margin-bottom: 0;
	}

	.coolers .content_img {
		margin-bottom: 0;
	}

	.coolers .content_img .data {
		display: none;
	}
	/* Cooler end */

	/* Toalla */
	.toalla .content_img {
		position: relative;
	}

	.toalla .content_img .img_product {
		content: url('../img/toalla/toalla.png');
		margin-top: 260px;
	}

	.toalla .content_img .data {
		display: flex;
		flex-direction: row;
		position: absolute;
		top: 140px;
		left: 0;
	}

	.toalla .content_img .data .flecha_ganadora {
		display: flex;
		position: absolute;
		top: 120px;
		right: -105px;
		max-width: 120px;
	}
	/* Toalla end */

}

@media (min-width: 992px) {

	.product .frase {
		margin-bottom: 75px;
	}

	.product h1 {
		font-size: 2.5rem;
		margin-bottom: 5px;
	}

	.product h1 span {
		font-size: 3.75rem!important;
	}

	.product h2 {
		font-size: 1.5rem;
	}

	.product .flecha_abajo {
		display: inline-block;
	}

	.product .content_img {
		align-items: center;
	}

	.product .content_img .data {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-left: 30px;
	}

	.product .content_img .data .flecha_ganadora {
		align-self: flex-start;
	}

	.product .content_img .data a:hover {
		opacity: 0.7;
	}

	.product .content_img .flecha_ganadora {
		margin-bottom: 25px;
	}

	/* Cooler */
	.coolers .content_img {
		position: relative;
		flex-direction: row;
		justify-content: flex-start;
	}

	.coolers .content_img .img_product {
		max-width: 315px;
	}

	.coolers .content_img .data .flecha_ganadora {
		max-width: 125px;
		margin-left: 25px;
	}

	.coolers .content_img .data {
		position: absolute;
		margin-left: 0;
		right: 10px;
		top: 170px;
	}

	.coolers .content_img .data .flecha_ganadora {
		max-width: 105px;
		display: inline-block;
	}
	/* Cooler end */

	/* Toalla */
	.toalla .content_img .img_product {
		max-width: 100%;
		margin-top: 350px;
	}

	.toalla .content_img .data {
		align-items: flex-start;
		margin-left: 20px;
	}

	.toalla .content_img .data .flecha_ganadora {
		max-width: 100%;
		left: 170px;
		transform: rotate(15deg);
	}

	.toalla .content_img .data .frase_ganadora {
		margin-left: 30px;
	}
	/* Toalla end */

}

@media (min-width: 1200px) {

	.product .content_img .img_product {
		max-width: 100%
	}

	.product .content_img .data .flecha_ganadora {
		margin-right: 85px;
	}

	.product h1 {
		font-size: 2.5rem;
	}

	.product h1 span {
		font-size: 4rem!important;
	}

	.product h2 {
		margin-top: 30px;
	}

	/* Cooler */
	.coolers .content_img .data .flecha_ganadora {
		margin-right: 0;
		max-width: 130px;
		margin-left: 0;
	}
	/* Cooler */

	/* Toalla */
	.toalla .content_img .data {
		top: 130px;
	}

	.toalla .content_img .data .flecha_ganadora {
		max-width: 100%;
		margin-left: 95px;
	}

	.toalla .content_img .data .frase_ganadora {
		margin-left: 60px;
	}
	/* Toalla end */

}

@media (min-width: 1400px) {

	.product h1 {
		font-size: 3rem;
		margin-bottom: 5px;
	}

	.product h1 span {
		font-size: 4.25rem!important;
	}

	/* Cooler */
	.coolers .content_img .img_product {
		margin-left: 10px;
	}

	.coolers .content_img .data {
		right: 50px;
		top: 215px;
	}

	.coolers .content_img .data .flecha_ganadora {
		max-width: 75%;
		margin-bottom: 40px;
	}
	/* Cooler end */

	/* Toalla */
	.toalla .content_img .data {
		top: 135px;
		margin-left: 50px;
	}

	.toalla .content_img .img_product {
		margin-left: 0;
	}

	.toalla .content_img .data .flecha_ganadora {
		max-width: 100%;
	}
	/* Toalla end */

}

@media (min-width: 1600px) {

}





